body {
    background-image: url(imagens/de292a259ad2be2bd3af6ea7dd6d262f17e824e4a8703ef059723fa9eb965b7b.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 155px 155px 155px 155px;
}

h1 {
    color: #530662;
}

button {
    background-color: #530662;
    color: white;
}

.mensagem {
    text-align: center;
    border: 5px solid #530662;
    background-color: #530662;
}

div label {
    color: white;
}

#email, #senha {
    background-color: rgba(255, 148, 230, 0.7);
    border-radius: 5px;
    border: 5px solid  #530662;
}

.fundo_login {
    width: 420px;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    background: rgba(255, 148, 230, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body p {
    color: white;
}

body p a {
    color: #530662;
}